{% extends 'base/base.html' %}


{% block content %}
<div class="row mt-3">
    <div class="col">
        <h1>Find voting or create new</h1>
        <hr>
        <div class="input-group">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <select class="custom-select">
                    <option selected="">All option</option>
                    <option value="1">Multiple</option>
                    <option value="2">Discrete of some</option>
                    <option value="3">Discrete of two</option>
                </select>
            </div>
            <span class="btn btn-info">Search</span>
        </div>
        <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitch" onclick="to_expand();" value="1">
            <label class="custom-control-label" for="customSwitch">Advanced Search</label>
        </div>
        {% include 'pages/advanced_form.html' %}
        {% include 'pages/voting_cards.html' %}
        <!-- example -->
        <div class="card mt-3" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Maybe picture</text></svg>
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Vote name</h5>
                <p class="card-text">Some example text about voting , the card content.</p>
                <a href="#" class="btn btn-primary">More Information</a>
            </div>
        </div>
        <!-- -- -->
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'main.js' %}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
{% endblock %}
