{% extends 'base/base.html' %}


{% block content %}
        {% for item in form %}
            <label>{{ item.label }}</label>
            {{ item }}
            <br>
        {% endfor %}
        <input type="submit" value="Искать">
        {% if not ok %}
            {% if error %}
                {{ error }}
            {% else %}
                <p>Что-то пошло не так</p>
            {% endif %}
        {% else %}
            {% if success %}
                {% if result %}
                    <table border="1">
                        <tr>
                            <th>Название</th>
                            <th>Автор</th>
                            <th>Дата создания</th>
                        </tr>
                        {% for ref in result %}
                            <tr>
                                <td> <a href={{ ref.0 }}> {{ ref.1 }} </a> </td>
                                <td> <a href={{ ref.2 }}> {{ ref.3 }} </a> </td>
                                <td> {{ ref.4 }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if prev_page %}
                        <input type="submit" value="Назад" onclick="dec_offset()">
                    {% else %} Назад {% endif %}
                    |
                    {% if next_page %}
                        <input type="submit" value="Вперёд" onclick="inc_offset()">
                    {% else %} Вперёд {% endif %}
                {% else %}
                    <p>Ничего не найдено</p>
                {% endif %}
            {% endif %}
        {% endif %}
 <!-- example
        <div class="card mt-3" style="width: 18rem;">
             <svg class="bd-placeholder-img card-img-top" width="100%" height="180"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Maybe picture</text></svg>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Название голосования</h5>
                <p class="card-text">О голосовании</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>

        </div>
         -- -->
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'main.js' %}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
{% endblock %}
