{% extends 'base/base.html' %}


<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>


{% block content %}
<form class="container pt-5">

    <div class="row">
        <div class="col-sm-4">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Name">Имя</label>
                <input type="text" class="form-control col-sm-9" id="Name" value="{{ name }}" readonly="1">
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Email">E-mail</label>
                <input type="email" class="form-control col-sm-9" id="Email" value="{{ email }}" readonly="1">
            </div>

        </div>
    </div>

    <div class="row pt-3">
        <div class="col-sm-4">
            <div class="text-center alert alert-success" role="alert">
                {% if activated %}
                Аккаунт верифицирован
                {% else %}
                Аккаунт не верифицирован
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Сменить пароль</button>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Создано опросов: {{ createdpolls }}</label>
                <br>
                <label>Принято участие: {{ votedpolls }}</label>
                <br>
                <label>Дата регистрации: {{ regdate }}</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="About">О себе</label>
        <textarea class="form-control" id="About" rows="5">{{ about }}</textarea>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block">Сохранить изменения</button>

</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Сменить пароль</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="OldPassword">Введите старый пароль</label>
                    <input type="password" class="form-control" id="OldPassword" value="{{ oldpassword }}">
                </div>

                <div class="form-group">
                    <label for="NewPassword">Введите новый пароль</label>
                    <input type="password" class="form-control" id="NewPassword" value="{{ newpassword }}">
                </div>

                <div class="form-group">
                    <label for="NewPassword2">Введите новый пароль повторно</label>
                    <input type="password" class="form-control" id="NewPassword2" value="{{ newpassword2 }}">
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}