<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое голосование</title>
</head>
<body>
    <form method="post"> {% csrf_token %}
        {% for item in form %}
            <label>{{ item.label }}</label>
            {{ item }}
            <br>
        {% endfor %}
        <input type="submit" value="Создать новое голосование">
    </form>
    {% if not ok %}
        <p>Что-то пошло не так</p>
    {% endif %}
</body>
</html>
<!--
#временно !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-->