{% extends 'base/base.html' %}

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

{% block content %}

<script>
    function clear_pw_change_form() {
        OldPassword.value = "";
        NewPassword.value = "";
        NewPassword2.value = "";
    }
    function check_pw_change() {
        if (NewPassword.value != NewPassword2.value) {
            save_pw_tag.disabled = true;
            change_pw_button_footer.hidden = true;
            change_pw_warning_footer.hidden = false;
        }
    }
    function close_pw_warning() {
        save_pw_tag.disabled = false;
        change_pw_warning_footer.hidden = true;
        change_pw_button_footer.hidden = false;
    }
</script>

{% if error %} <div class="text-center alert alert-danger" role="alert">{{ error }}</div> {% else %}

<form class="container pt-5" method="post"> {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group row right_padding">
                <label class="col-sm-3 col-form-label" for="Name">Логин</label>
                <input type="text" class="form-control col-sm-9" value="{{ login }}" readonly>
            </div>

            <div class="form-group row right_padding">
                <label class="col-sm-3 col-form-label" for="Name">Имя</label>
                <input type="text" class="form-control col-sm-9" id="name_tag" value="{{ name }}"
                       {% if not self %} readonly {% endif %} name="name">
            </div>

            <div class="form-group row right_padding">
                <label class="col-sm-3 col-form-label" for="Email">E-mail</label>
                <input type="email" class="form-control col-sm-9" value="{{ email }}" readonly>
            </div>

            <div class="row pt-3">
                <div class="col-sm-12">
                    {% if activated %}
                        <div class="text-center alert alert-success" role="alert">Аккаунт верифицирован</div>
                    {% else %}
                        <div class="text-center alert alert-warning" role="alert">Аккаунт не верифицирован</div>
                    {% endif %}
                </div>
            </div>

            <div class="row left_padding right_padding">
                {% if self %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changePassword">Сменить пароль</button>
                {% endif %}
            </div>

            <div class="form-group pt-3">
                <label>Создано опросов: {{ createdpolls }}</label> <br>
                <label>Принято участие: {{ votedpolls }}</label> <br>
                <label>Дата регистрации: {{ regdate }}</label>
            </div>

            <div class="row left_padding right_padding">
                {% if self %}
                    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#deleteAccount">Удалить аккаунт</button>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-8">
            <div class="form-group">
                <label for="About">О себе</label>
                <textarea class="form-control" id="About" rows="14" {% if not self %} readonly {% endif %} name="about">{{ about }}</textarea>
            </div>
            {% if self %}
                <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="action_tag.value = 'save-chan'">Сохранить изменения</button>
            {% endif %}
        </div>
    </div>

    <input type="hidden" name="action" id="action_tag">
    <script> action_tag.value = ""; </script>

    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordLabel">Сменить пароль</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="OldPassword">Введите старый пароль</label>
                        <input type="password" class="form-control" id="OldPassword" name="password">
                    </div>

                    <div class="form-group">
                        <label for="NewPassword">Введите новый пароль</label>
                        <input type="password" class="form-control" id="NewPassword" name="new_password">
                    </div>

                    <div class="form-group">
                        <label for="NewPassword2">Введите новый пароль повторно</label>
                        <input type="password" class="form-control" id="NewPassword2">
                    </div>
                </div>

                <div class="modal-footer" id="change_pw_button_footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clear_pw_change_form()">Отмена</button>
                    <button type="submit" class="btn btn-primary" onclick="action_tag.value = 'save-pass'; check_pw_change()" id="save_pw_tag">Сменить</button>
                </div>

                <div class="modal-footer" id="change_pw_warning_footer" hidden>
                    <div class="alert alert-danger w-100" role="alert">
                        Пароли не совпадают!
                        <button type="button" class="close" aria-label="Close" onclick="close_pw_warning()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountLabel">Удалить аккаунт</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Это действие приведёт к необратимым последствиям. Желаете продолжить?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete_cancel">Отмена</button>
                    <button type="submit" class="btn btn-danger" onclick="action_tag.value = 'del'">Удалить</button>
                </div>
            </div>
        </div>
</div>
</form>

{% endif %}

{% endblock %}