{% extends 'base/base.html' %}


{% block content %}
    <script>
        function dec_offset() {
            "usestrict";
            offset_tag.value = Number(offset_tag.value) - {{ page_size }};
        }
        function inc_offset() {
            "usestrict";
            offset_tag.value = Number(offset_tag.value) + {{ page_size }};
        }
    </script>
<body>
<div class="card  mx-center">
     <h5 class="card-header text-center">Поиск голосования</h5>
    <div class="card-body">
    <form method="post"> {% csrf_token %}
        {% for item in form %}
        <div class="mx-auto">
            <div class="bold mx-auto font-weight-bold">{{ item.label }}</div>
            <div class="py-2">{{ item }}</div>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mb-2" value="Искать"></div>
        <div class="col px-md-5">{% if not ok %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                {{ error }}
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                <p>Что-то пошло не так</p>
                </div>
            {% endif %}
        {% else %}
            {% if success %}
                {% if votings %}
                    <table class="table my-auto mt-1" border="1">
                        <thead class="thead-dark">
                        <tr>
                            <th>Название</th>
                            <th>Логин автора</th>
                            <th>Дата создания</th>
                        </tr>
                        </thead>
                        {% for v in votings %}
                            <tr>
                                <td> <a href="/voting_info/{{ v.id }}/"> {{ v.title }} </a> </td>
                                <td>
                                    {% if v.author %} <a href="/profile/{{ v.author.id }}/"> {{ v.author.username }} </a>
                                    {% else %} $_del {% endif %}
                                </td>
                                <td> {{ v.date_created|date:"d.m.Y H:i" }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if prev_page %}
                        <input type="submit" value="Назад" onclick="dec_offset()">
                    {% else %} Назад {% endif %}
                    |
                    {% if next_page %}
                        <input type="submit" value="Вперёд" onclick="inc_offset()">
                    {% else %} Вперёд {% endif %}
                {% else %}
                    <p>Ничего не найдено</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </form>
    </div>
</div>
</body>

{% endblock %}