<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск голосований</title>
    <script>
        function goto_prev_page() {
            offset_tag.value = Number(offset_tag.value) - {{ page_size }};
            send_tag.click();
        }
        function goto_next_page() {
            offset_tag.value = Number(offset_tag.value) + {{ page_size }};
            send_tag.click();
        }
    </script>
</head>
<body>
    <form method="post"> {% csrf_token %}
        {% for item in form %}
            <label>{{ item.label }}</label>
            {{ item }}
            <br>
        {% endfor %}
        <input type="submit" value="Искать" id="send_tag">
    </form>
    <p>
        {% if not ok %}
            {% if error %}
                {{ error }}
            {% else %}
                Что-то пошло не так
            {% endif %}
        {% else %}
            {% if success %}
                {% if result %}
                    {% for pair in result %}
                        <a href={{ pair.1 }}> {{ pair.0 }} </a>
                        <br>
                    {% endfor %}
                    {% if prev_page %}
                        <span onclick="goto_prev_page()">Назад</span>
                        <br>
                    {% endif %}
                    {% if next_page %}
                        <span onclick="goto_next_page()">Вперёд</span>
                    {% endif %}
                {% else %}
                    Ничего не найдено
                {% endif %}
            {% endif %}
        {% endif %}
    </p>
</body>
</html>
<!--
#временно !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-->