<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о голосовании</title>
</head>
<body>
    <p>
        {% if not ok %}
            {% if error %}
                {{ error }}
            {% else %}
                Что-то пошло не так
            {% endif %}
        {% else %}
            {% if info %}
                {% for info_line in info %}
                    {{ info_line }} <br>
                {% endfor %}
            {% endif %}
        {% endif %}
    </p>
</body>
</html>
<!--
#временно !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-->