<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск голосований</title>
    <script>
        function goto_prev_page() {
            offset_tag.value = Number(offset_tag.value) - {{ page_size }};
            send_tag.click();
        }
        function goto_next_page() {
            offset_tag.value = Number(offset_tag.value) + {{ page_size }};
            send_tag.click();
        }
    </script>
</head>
<body>
    <form method="post"> {% csrf_token %}
        {% for item in form %}
            <label>{{ item.label }}</label>
            {{ item }}
            <br>
        {% endfor %}
        <input type="submit" value="Искать" id="send_tag">
    </form>
    {% if not ok %}
        {% if error %}
            {{ error }}
        {% else %}
            <p>Что-то пошло не так</p>
        {% endif %}
    {% else %}
        {% if success %}
            {% if result %}
                <table border="1">
                    <tr>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Дата создания</th>
                    </tr>
                    {% for ref in result %}
                        <tr>
                            <td> <a href={{ ref.0 }}> {{ ref.1 }} </a> </td>
                            <td> {{ ref.2 }} </td>
                            <td> {{ ref.3 }} </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if prev_page %}
                    <span onclick="goto_prev_page()">Назад</span>
                    {% if next_page %} | {% endif %}
                {% endif %}
                {% if next_page %}
                    <span onclick="goto_next_page()">Вперёд</span>
                {% endif %}
            {% else %}
                <p>Ничего не найдено</p>
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>