{% extends 'base/base.html' %}

{% if error %}
{{ error }}
{% else %}

{% block content %}
    <div class="container">
        <div class="card w-100">
            <div class="card-header">
                Ваши голосования
                <a class="btn btn-primary float-right" href="/vm/new_voting/">Добавить</a>
            </div>
            <div class="card-body">
                {% if refs %}
                    <table class="table table-striped">
                        <tr>
                            <th>Название</th>
                            <th>Дата создания</th>
                        </tr>
                        {% for ref in refs %}
                            <tr>
                                <td> <a href={{ ref.0 }}> {{ ref.1 }} </a> </td>
                                <td> {{ ref.4 }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %} <div class="text-center alert alert-info" role="alert">У вас нет голосований</div> {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% endif %}