<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои голосования</title>
</head>
<body>
    <form method="post"> {% csrf_token %}
        <input type="submit" value="Обновить">
        <a href="/vm/new_voting/">Добавить</a>
    </form>
    {% if not ok %}
        <p>Что-то пошло не так</p>
    {% else %}
        {% if refs %}
            <table border="1">
                <tr>
                    <th>Название</th>
                    <th>Дата создания</th>
                </tr>
                {% for ref in refs %}
                    <tr>
                        <td> <a href={{ ref.0 }}> {{ ref.1 }} </a> </td>
                        <td> {{ ref.4 }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>У вас нет голосований</p>
        {% endif %}
    {% endif %}
</body>
</html>