{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="card w-100">
            <div class="card-header">
                Ваши голосования
                <a class="btn btn-primary float-right" href="/vm/new_voting/">Добавить</a>
            </div>
            <div class="card-body">
                {% if votings %}
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Дата создания</th>
                        </tr>
                        </thead>
                        {% for v in votings %}
                            <tr>
                                <td> <a href="/manage_voting/{{ v.id }}/"> {{ v.title }} </a> </td>
                                <td>
                                    {% if v.type == 0 %} {{ type_names.0 }}
                                    {% elif v.type == 1 %} {{ type_names.1 }}
                                    {% else %} {{ type_names.2 }} {% endif %}
                                </td>
                                <td> {{ v.date_created|date:"d.m.Y H:i" }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %} <div class="text-center alert alert-info" role="alert">У вас нет голосований</div> {% endif %}
            </div>
        </div>
    </div>
{% endblock %}