{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <form method="post" class="card"> {% csrf_token %}
            <div class="card-header">Создание голосования</div>
            <div class="card-body">
                {% for item in form %}
                    <div class="row">
                        <label>{{ item.label }}</label>
                        {{ item }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Создать новое голосование</button>
            </div>
        </form>
        {% if ok %}
            {% if success %}
                <div class="text-center alert alert-success" role="alert">Голосование успешно создано</div>
            {% endif %}
        {% else %}
            <div class="text-center alert alert-danger" role="alert">
                {% if error %} {{ error }} {% else %} Что-то пошло не так {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}