{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <form method="post"> {% csrf_token %}
            {% for item in form %}
                <div class="row">
                    <label>{{ item.label }}</label>
                    {{ item }}
                </div>
            {% endfor %}
            <input type="submit" value="Создать новое голосование">
        </form>
    </div>
    <p>
        {% if not ok %}
            {% if error %}
                {{ error }}
            {% else %}
                Что-то пошло не так
            {% endif %}
        {% else %}
            {% if success %}
                Голосование успешно создано
            {% endif %}
        {% endif %}
    </p>
{% endblock %}
<!--
#временно !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-->